@page
@model Frontend.Pages.CTorneo.IndexModel
@{
    ViewData["Title"]="Index Torneo";
}

<h1>Listado de Torneos</h1>
    <p>
        <a asp-page= "Create" class="btn btn-outline-info"> Crear Torneo</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Categoria</th>
                <th>Modalidad</th>
                <th>Municipio</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var t in Model.TorneosV)
            {
                <tr>
                    <td>@t.Nombre</td>
                    <td>@t.Categoria</td>
                    <td>@t.Modalidad</td>
                    <td>@t.Municipio</td>
                    <td>
                        <a asp-page="./Edit" class="btn btn-outline-dark" asp-route-id="@t.Id">Edit</a>
                        <a asp-page="./Details" class="btn btn-outline-secondary" asp-route-id="@t.Id">Details</a>
                        <a asp-page="./Delete" class="btn btn-outline-danger" asp-route-id="@t.Id">Delete</a>
                    </td>
                </tr>
            }
            
        </tbody>
    </table>