@page
@model Frontend.Pages.CUnidadDeportiva.IndexModel
@{
    ViewData["Title"]="Index de la Unidad Deportiva";
}

<h2>Listado de Unidad Deportiva</h2>
    <p>
        <a asp-page= "Create" class="btn btn-outline-info"> Crear Unidad Deportiva</a>
    </p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Direccion</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ud in Model.UnidadDeportivas)
            {
                <tr>
                    <td>@ud.Nombre</td>
                    <td>@ud.Direccion</td>
                    <td>
                        <a asp-page="./Edit" class="btn btn-outline-dark" asp-route-id="@ud.Id">Edit</a>
                        <a asp-page="./Details" class="btn btn-outline-secondary" asp-route-id="@ud.Id">Details</a>
                        <a asp-page="./Delete" class="btn btn-outline-danger" asp-route-id="@ud.Id">Delete</a>
                    </td>
                </tr>
            }
            
        </tbody>
    </table>